#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}





#username-area{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}


#username-area input {
  width: 100%;
  height: 40px;
}

#container{
  width: 100%;
  height: 100%;


}

li{
  list-style: none;
}
.chat-area{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 70vh;

  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;

  scroll-behavior: smooth;
}

.mensage-li{
  display: flex;
  align-items: center;
  width: 97%;
  gap: 1rem;

  border: 1px solid rgb(139, 139, 139);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;


}


#chat{
  display: flex;
  gap: 0.7rem;
  width: 98%;

  height: 40px;

  align-items: center;
  justify-content: center;
}

#chat input{
  width: 80%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}